<% provide(:title, "Site Availabilty Request") %>

<div class="form">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for :input_form, method: :get do |f| %>     
      <%= f.label :park_ID, "Camp Ground User Name" %>
      <%= f.text_field :park_ID, value: @set[:park_ID] %>
      
      <%= f.label :security_key, "Camp Ground Security Key" %>
      <%= f.text_field :security_key, value: @set[:security_key] %>
      
      <%= f.label :arrival_date, "Arrival Date" %>
      <%= f.text_field :arrival_date, value: @set[:arrival_date] %>
      
      <%= f.label :num_nights, "Number of Nights" %>
      <%= f.text_field :num_nights, value: @set[:num_nights] %>
      
      <%= f.label :internal_UID, "Unit Type Internal UID (Leave blank to not include)" %>
      <%= f.text_field :internal_UID, value: @set[:internal_UID] %>
      
      <%= f.label :type_ID, "Unit Type ID (Leave blank to not include)" %>
      <%= f.text_field :type_ID, value: @set[:type_ID] # Is always overwritten by UID.
       %>
      
      <%= f.label :unit_length, "Unit Length (Leave blank to not include)" %>
      <%= f.text_field :unit_length, value: @set[:unit_length] %>
      
      <%= f.label :request_unav, "Request Unavailable?" %>
      <%= f.check_box :request_unav, checked: @unavailable %>
      
      <hr />
      
      <%= f.submit "Check XML", name: "user_action" %>
      <%= f.submit "Submit", name: "user_action" %>
      <%= f.submit "Force Submit", name: "user_action" %>
    <% end %>
  </div>  
</div>