<% provide(:title, "Utility Services") %>

<div class="form">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for :utility_form, method: :get do |f| %>
      <%= f.label :requestID, "Service Requests ID" %>
      <% requestoptions = options_for_select([
        ["Unit Type Information Request", "UnitTypeInfoRequest"],
        ["Site Type Information Request", "SiteTypeInfoRequest"],
        ["Notes and Terms Request", "NotesAndTermsRequest"],
        ["BYS Public Key Request", "BYSPublicKeyRequest"]], @request)%>
      <%= f.select(:requestID, requestoptions) %>
      
      <%= f.label :parkID, "Camp Ground User Name" %>
      <%= f.text_field :parkID, value: @park %>
      
      <%= f.label :securityKey, "Camp Ground Security Key" %>
      <%= f.text_field :securityKey, value: @security %>
      
      <%= f.submit "Check XML", name: "userAction" %>
      <%= f.submit "Submit", name: "userAction" %>
    <% end %>
  </div>  
</div>