<% provide(:title, "Main") %>

<% if current_user.blank? %>
  <%= link_to "Log in", new_user_session_path %><br />

  <%= link_to "Forgot your password?", new_user_password_path %><br />

  <%= link_to "Didn't receive unlock instructions?", new_user_unlock_path() %><br />
<% end -%>


<% if current_user.present? %>
<h3>Service Requests:</h3>
<p>Forms to enter data and automatically generate the needed xml requests for web service API.
  Also allows the requests to be sent to the web service test server to verify their accuracy.</p>
<ul>
  <li><%= link_to "Utility Services", utility_path %></li>
  <li><%= link_to "Site Availabilty Request", availability_path %></li>
  <li><%= link_to "Rate Calculation Request", calculate_path %></li>
  <li><%= link_to "Reservation Hold Request", reservationhold_path %></li>
  <li><%= link_to "Reservation Confirm Request", reservationconfirm_path %></li>
  <li><%= link_to "Site Usage Hold Request", siteusage_path %></li>
  <li><%= link_to "Reservation Create Request", reservationcreate_path %></li>
  <li><%= link_to "Site Usage Cancel Request", sitecancel_path %></li>
  <li><%= link_to "Reservation Reversal Request", reservationreverse_path %></li>
</ul>

<h3>Miscellaneous</h3>
<ul>
  <li><%= link_to "Manage Account", account_path %>:
     Manage your account, such as changing the password and the default security key.</li>
  <li><%= link_to "Text Parser", textparse_path %>:
     Parses raw text input as a request and allows it to be sent directly to the web services test server.</li>
</ul>
<% end %>
