<% provide(:title, "New User") %>

<div class="form">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for @user, url: new_admin_user_path(@user), method: :get do |f| %>
      <%= f.label :email, "User Email" %>
      <%= f.text_field :email %>

      <%= f.label :security, "Camp Ground Security Key (Optional)" %>
      <%= f.text_field :security %>

  <p> <%= f.label :admin, "Admin?" %>
      <%= f.check_box :admin %> </p>

      <%= f.label :password, "Password (Minimum 6 characters)" %>
      <%= f.password_field :password %>

      <%= f.label :password_confirmation, "Password Confirmation" %>
      <%= f.password_field :password_confirmation %>

      <%= f.submit "Create User" %>
    <% end %>
  </div>
</div>