<% provide(:title, "Manage Account") %>

<div class="form">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for :input_form, method: :get do |f| %>
      <div class="field">
        <%= f.label :security, "Camp Ground Security Key" %><br />
        <%= f.text_field :security, value: @set[:security] %>
      </div>

      <p>Leave password fields blank to not change.</p>

      <div class="field">
        <%= f.label :old_password, "Current Password" %><br />
        <%= f.password_field :old_password %>
      </div>

      <div class="field">
        <%= f.label :password, "New Password (Minimum 6 characters)" %><br />
        <%= f.password_field :password %>
      </div>

      <div class="field">
        <%= f.label :password_confirmation, "New Password (Confirm)" %><br />
        <%= f.password_field :password_confirmation %>
      </div>

      <%= f.submit "Update Account" %>
    <% end %>
  </div>
</div>