<% provide(:title, "Text Parser") %>

<div class="form">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for :input_form, method: :get do |f| %>
      <%= f.label :request_ID, "Type of Service" %>
      <% requestoptions = options_for_select([
        ["Unit Type Information Request", "unittypeinfo"],
        ["Site Type Information Request", "sitetypeinfo"],
        ["Notes and Terms Request", "notesandterms"],
        ["BYS Public Key Request", "byspublickey"],
        ["Determine Site Availability Request", "siteavailability"],
        ["Rate Calculation Service", "ratecalculation"],
        ["Reservation Hold Service", "reservationhold"],
        ["Reservation Confirm Service", "reservationconfirm"],
        ["Site Usage Hold Service", "siteusagehold"],
        ["Reservation Create Service", "reservationcreate"],
        ["Site Usage Cancellation Service", "siteusagecancel"],
        ["Reservation Reversal Service", "reservationreverse"]], @set[:request_ID])%>
      <%= f.select(:request_ID, requestoptions) %>

      <%= f.label :input, "Input" %>
      <%= f.text_area :input, value: @set[:input] %>

      <hr />

      <%= f.submit "Submit XML", name: "user_action" %>
      <%= f.submit "Submit JSON", name: "user_action" %>
    <% end %>
  </div>
</div>