<!DOCTYPE html>
<html>
  <head>
    <title>BYS Web Sandbox: <%= yield(:title) %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/header' %>
      <div class="maincontent">
        <% flash.each do |message_type, message| %>
          <div class="alert"><%= message %></div>
        <% end %>

        <h1><%= yield(:title) %></h1>
        <hr/>

        <%= render :partial => 'shared/requesterrors' if @output[:request_errors].present? %>

        <%= yield %>

        <%= render 'shared/responsefail' if @output[:response_fail].present? %>
        <%= render 'shared/showresponse' if @output[:response].present? && @output[:response_title].present? %>

        <%= debug(params) if Rails.env.development? %>
      </div>
  </body>
</html>
